@font-face 
{
    font-family: Alice;
    src: local("Alice"),
         url(font/ALICE.ttf);
    font-weight: bold;
}

#vidFond 
{
    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-image: url(image/chateau-effrayant-.webp);
    background-size: cover;
}

#fond
{
    padding: 5px;
    height: 97vh;
    background-size: cover ;
    background-image: url(image/fantasy\ world.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 17%, 0 17%);
    border-radius: 15px;
    transition: 2s;
}

/* #fond:hover
{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
} */

.fond{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#titre
{
    font-family: Alice;
    text-align: center;
    color: aliceblue;
    font-size: 50px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue
}

button, select
{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(0, 0, 0), 0 0 0.3em rgb(0, 0, 0);
    background-color: transparent;
    border-radius: 10px;
}

#choixPerso
{
    color: Black;
}

p
{
    padding-top: 10px;
    color: antiquewhite;
    text-shadow: 1px 2px rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
    font-size: 25px;
}

#messageBox {
    width: 900px;
    height:35px;
    background-color: white;
    border: 1px solid black;
    box-shadow: -5px 5px 10px;
    margin: auto;
    text-align:center;
    padding:25px;
  }

  #startBtn {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 45%;
    right: 45%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 50px;
    background-size: cover;
    cursor:pointer;
    font-size: 20px;

  }
  