@font-face 
{
    font-family: Alice;
    src: local("Alice"),
    url(font/ALICE.ttf);
}

@font-face
{
    font-family: Rock;
    src: local("Rock"),
    url(font/Rock.ttf);
}
body
{
    position: relative;
}
#vidFond 
{
    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: 100vh; 
    z-index: -100;
    background-image: url(image/fond.png);
    background-size: cover;  
}

#fond
{
    padding: 5px;
    height: 97vh;
    background-size: cover ;
    background-image: url(image/fantasy\ world.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
    border-radius: 15px;
    transition: 2s;
    overflow: hidden;
}


.fond
{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#titre
{
    font-family: Alice;
    text-align: center;
    color: aliceblue;
    font-size: 60px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue
}

#titre1
{
    font-family: Rock;
    font-size: 40px;
    color: aliceblue;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(14, 111, 53), 0 0 0.2em rgb(0, 0, 0)
}

button, select
{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(0, 0, 0), 0 0 0.3em rgb(0, 0, 0);
    background-color: transparent;
    border-radius: 10px;
}

#choixPerso
{
    color: Black;
}

p
{
    padding-top: 10px;
    color: antiquewhite;
    text-shadow: 1px 2px rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
    font-size: 25px;
}

#messageBox 
{
    width: 900px;
    height: 35px;
    background-color: white;
    border: 1px solid black;
    box-shadow: -5px 5px 10px;
    margin: auto;
    text-align: center;
    padding: 25px;
}

#startBtn
{
    border: none;
    position: absolute;
    top: 44%;
    bottom: 43.5%;
    left: 44%;
    right: 44%;
    cursor: pointer;
    border-radius: 50%;
}

#returnBtn 
{
    border: none;
    position: absolute;
    left: 43%;
    right: 43%;
    bottom: 5%;
    top: 90%;
    cursor: pointer;
    font-family: Alice;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue
}

#choixHumain
{
    border: none;
    cursor: pointer;
}

#choixNain
{
    border: none;
    cursor: pointer;
    margin-left: 10%;
}

#btnAction
{
    position: absolute;
    top: 45%;
    left: 35%;
    right: 35%;
}

#rep
{
    position: absolute ;
    top: 50%;
    left: 35%;
    right: 35%;
    color: aliceblue;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0)
}

#humain
{
    width: 150px;
    height: 200px;

}
#nain
{
    width: 100px;
    height: 150px;
}
.gameHuman
{
    
    src:  url("image/humain.png");
    width: 20%;
    /* height: 300px; */
    margin-left: 15%;
    cursor: crosshair;
    /* top: 50%; */
}
.align
{
    text-align: center;
}

.map
{
    box-shadow: 8px 5px 5px black;
    background-image: url(image/fond\ foret.png);
    background-size: cover;
    border-radius: 4%;
    width: 800px;
    height: 500px;
    margin-top: 6%;
    margin-left: 30%;
    margin-right: 30%;
}

#humainDiv
{
    padding-top: 12%;
    padding-left: 4%;

}

#nainDiv
{
    padding-top: 24%;
    padding-left: 10%;

}

#dragonDiv
{
    padding-left: 20%;
    padding-top: 14%;
    
    
}

#wolfDiv
{
    padding-left: 30%;
    padding-top: 26%;
}

#orcDiv
{
    padding-left: 20%;
    padding-top: 11%;
}

#divMap
{
    display: flex;
}
.stat
{
    display: flex;
}
#statMonster
{
    background-color: #fff;
    width: 200px;
    margin-right: 10%;
}




/* .choicePlayer
{ 
    width: 150px;
    margin-top: 35%;
    margin-right: 50%;
} */